:root {
  --main-font: "Open Sans", sans-serif;
  --background-color: #f7f5f9;
  --light-blue: #2278d4;
  --light-green: #22a75d;
  --lighter-gray: #f2f0f4;
  --opacity-lighter-gray: #f2f0f4f7;
  --dark: #191b21;
}
